*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    circle,
    rgba(13, 73, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  color: aliceblue;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-size: 6rem;
  color: rgb(255, 255, 255);
  margin: 1rem;
}

.my-container {
  text-align: center;
}

.my-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

#main-section a {
  color: rgb(0, 183, 255);
}

#main-section a {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
}
#main-section a:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
}

/* SINGLE PLAYER PAGE */

/* name form */
#form-instruction-section input {
  text-align: center;
  height: 4rem;
}
#form-instruction-section button {
  height: 3rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #4d4d4d;
}
#form-instruction-section button:hover {
  color: #00d7c3;
  box-shadow: 0 0 1px 0 #00d7c3 inset, 0 0 10px 2px #00d7c3;
}

.single-player-name-form {
  width: 80%;
}

/* Instructions */
.controls-text {
  text-align: justify;
  padding: 2rem;
}

#form-instruction-section .my-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game */
#mini-leaderboard-section {
  width: 30%;
  height: 100%;
}
#game-section {
  width: 70%;
  height: 100%;
}

.leaderboard-title {
  margin-bottom: 1.5rem;
}

.mini-leaderboard .list-group {
  font-size: 0.8rem;
}

.mini-leaderboard .list-group-item {
  background-color: rgb(29, 29, 29);
  color: rgb(71, 71, 71);
}

.mini-leaderboard .my-badge {
  background: none;
  color: rgb(71, 71, 71);
}

.mini-leaderboard .highlight-player {
  background-color: rgb(197, 255, 61);
  color: rgb(29, 29, 29);
}

/* Leaderboard */
.highlight-player {
  background-color: rgb(221, 255, 143);
}

.my-modal-content {
  color: aliceblue;
  background-color: rgb(5, 5, 5);
}

/* button {
  padding: 2rem;
  font-weight: bold;
  background-color: rgb(177, 255, 98);
} */
